<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

<header class="masthead">
	<div class="wrap">
      {% if site.logo != null %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img class="animated fadeInDown" src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo"></a>
      {% endif %}
      <h1 class="site-title-landing animated fadeInDown"><a href="{{ site.url }}/">{{ site.title }}</a></h1>
		<h2 class="site-description-landing animated fadeInDown" itemprop="description">{{ site.description }}</h2>
	</div>
</header><!-- /.masthead -->

<div class="js-menu-screen menu-screen"></div>
